{% extends "base.html.jinja" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block app %}
<div class="alert-wrapper">
    <div class="alert-msg">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-alert-triangle">
            <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z" />
            <path d="M12 9v4" />
            <path d="M12 17h.01" />
        </svg><strong>Note:</strong>
    </div>
    <p>This is not a real site. The <em>job openings</em> are <a href="https://en.wikipedia.org/wiki/Fake"
            hreflang="Fake" target="_blank"><u>fake</u></a>.</p>
</div>
<h1 class="app-name">Pros Careers</h1>
<header>
    <div class="header">
        <h1>Find your dream job with us</h1>
        <div class="header_overlay"></div>
    </div>
</header>
<main class="content">
    <div class="about-app">
        <h1>About Pros Career</h1>
        <p>Pros Career is a business and employment-focused social media platform that works through websites and mobile
            apps. It was launched on May 5, 2003. Since December 2016, it has been a wholly owned subsidiary of DevMade.
            The platform is primarily used for professional networking and career development, and allows jobseekers to
            post their CVs and employers to post jobs</p>
    </div>
    <h1>Job Openings</h1>
    <div class="job_cards">
        {% if jobs %}
        {% for job in jobs %}
        {% include "job-item.html.jinja" %}
        {% endfor %}
        {% else %}
        <p>No jobs available</p>
        {% endif %}
    </div>
    <a style="display:block; margin-inline: auto; margin-top: 2rem; text-align: center;"
        href="mailto:snowintj123@gmail.com?subject=Questions%20About%20Job%20Openings&body=Name%3A%20%3Cyour%20name%20here%3E%0D%0AQuestions%3A%20%3Cyour%20questions%20here%3E">Contact</a>
</main>
{% endblock app %}