<div class="job_card">
    <div class="job_content">
        <h3 class="job_title">{{job.title}}</h3>
        <p class="job_description"><span>Location:</span>{{job.location}}</p>
        {% if job.salary %}
        <p class="job_salary"><span>Salary:</span> {{job.salary|safe}}</p>
        {% endif %}
    </div>
    <a
        href="mailto:snowintj123@gmail.com?subject=Application%20for%20{{job.title}}&body=Resume%20link%3A%20%3CYour%20resume%20link%3E%0D%0A%0D%0APersonal%20Website%20(optional)%3A%20%3CYour%20website%20link%3E%0D%0A%0D%0AProject%20link%20(if%20any)%3A%20%3CYour%20project%20link%3E">
        <button class="job_action">
            Apply
        </button>
    </a>
</div>